.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:200px;}
.field_avtoriz {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}